<form methot="get" action="/quizes">
 Introduzca las palabras que desea contengan las preguntas (vacio para todas):
 <input type ="text" name="search"/>
 <input type = "submit" value="Enviar">
</form>
<br><hr><br>
<table>
<% var i; for (i=0; i< quizes.length; i++) { %>
  <tr>
   <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
   <td><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
  </tr>
<% } %>
<tr></tr>
<tr><td><a href="/quizes/new"><button type="button" align="left">Crear pregunta</button></a></tr></td>
</table>

