<P>
<form methot="get" action="/quizes/answer">
 Pregunta: <%= pregunta %>
 <input type ="text" name="respuesta" value="Introduzca su respuesta"/>
 <input type = "submit" value="Enviar">
</form>            
</p>

